@charset "UTF-8";

/* =========== reset css =========== */

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/* =========== icons-font =========== */

@font-face {
  font-family: "icons";
  src: url("../fonts/icons-font.ttf?jrsckx") format("truetype"),
    url("../fonts/icons-font.woff?jrsckx") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon"],
[class*=" _icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-project-2:after {
  content: "\e902";
}

._icon-project-1:after {
  content: "\e90b";
}

._icon-education-2:after {
  content: "\e90c";
}

._icon-about-me:after {
  content: "\e900";
}

._icon-courses:after {
  content: "\e901";
}

._icon-education:after {
  content: "\e902";
}

._icon-email:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-linkedin:before {
  content: "\e905";
}

._icon-location:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-skype:before {
  content: "\e908";
}

._icon-telegram:before {
  content: "\e909";
}

._icon-work:after {
  content: "\e90a";
}

/* =========== left-sidebar =========== */

.left-sidebar {
  background-color: #294a88;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.left-sidebar hr {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.left-sidebar li {
  line-height: 1.5;
}

.photo-left-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 350px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.photo-left-sidebar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  border: #ecebeb 2px solid;
}

.contacts-left-sidebar__item {
  margin-bottom: 10px;
}

.contacts-left-sidebar__item a::before {
  margin-right: 15px;
}

.contacts-left-sidebar__item a:hover {
  text-decoration: underline;
}

.contacts-left-sidebar__item a:hover::before {
  display: inline-block;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  color: #f5f100;
  font-weight: 900;
}

.title-left-sidebar {
  width: 100%;
  background-color: #203b6e;
  line-height: 2;
  border-radius: 3px;
  text-align: center;
  font-family: "Lora";
  font-weight: 900;
  margin-bottom: 20px;
}

.skills-left-sidebar__item {
  list-style: inside !important;
}

/* =========== main =========== */

.right-sidebar {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #fcfbfb;
}

.right-sidebar__name {
  font-size: 2.5rem;
  font-weight: 900;
}

.right-sidebar__position {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.my-info-right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  font-size: 1rem;
}

.my-info-right-sidebar__location {
  font-size: 1rem;
}

.my-info-right-sidebar__location a {
  color: black;
}

.my-info-right-sidebar__location a:visited {
  color: black;
}

.my-info-right-sidebar__age {
  margin-left: 5rem;
  font-size: 1rem;
}

.right-sidebar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #4777cf;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.right-sidebar-title__title {
  font-weight: 900;
}

.right-sidebar-title__line {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  height: 2px;
  background: #4777cf;
  margin: 0 5px;
}

.right-sidebar-title__icon::after {
  font-size: 2rem;
}

.right-sidebar-subtitle {
  font-weight: 900;
  font-size: 1.2rem;
}

.right-sidebar-subtitle-2 {
  font-size: 1.05rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.right-sidebar-list li {
  list-style: circle;
  margin-left: 1.5rem;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
}

.work-experience-right-sidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
  grid-template-columns: 30% 70%;
  margin-top: 20px;
}

.education-right-sidebar__education {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
  grid-template-columns: 30% 70%;
  margin-top: 20px;
}

.courses-right-sidebar__courses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
  grid-template-columns: 30% 70%;
  margin-top: 20px;
}

.projects-right-sidebar__list li {
  font-size: 1.05rem;
  line-height: 1.3;
}

.projects-right-sidebar__list li a {
  color: #4777cf;
  font-weight: 700;
}

.projects-right-sidebar__list li a:hover {
  color: #294a88;
  font-weight: 900;
  text-decoration: underline;
}
.projects-right-sidebar__info {
  line-height: 1.2;
}
.projects-right-sidebar__info > a {
  color: blue;
}
.projects-right-sidebar__info > a:visited {
  color: blue;
}

/* =========== main =========== */

html {
  font-size: 18px;
}

body {
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  padding: 10px;
  font-size: 1rem;
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1140;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
  grid-template-columns: 35% 65%;
  height: 100vh;
}

@media (max-width: 1140px) {
  .left-sidebar {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 820));
  }

  .left-sidebar {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 820));
  }

  .left-sidebar hr {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 820));
  }

  .left-sidebar hr {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 820));
  }

  .photo-left-sidebar {
    height: calc(250px + 100 * ((100vw - 320px) / 820));
  }

  .photo-left-sidebar {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .photo-left-sidebar {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .contacts-left-sidebar__item {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .contacts-left-sidebar__item a::before {
    margin-right: calc(8px + 7 * ((100vw - 320px) / 820));
  }

  .title-left-sidebar {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .right-sidebar {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 820));
  }

  .right-sidebar {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 820));
  }

  .right-sidebar {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .right-sidebar {
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .my-info-right-sidebar {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .right-sidebar-title {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 820));
  }

  .right-sidebar-title {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .right-sidebar-subtitle-2 {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 820));
  }

  .right-sidebar-list li {
    padding-top: calc(2px + 3 * ((100vw - 320px) / 820));
  }

  .right-sidebar-list li {
    padding-bottom: calc(2px + 3 * ((100vw - 320px) / 820));
  }

  .work-experience-right-sidebar {
    margin-top: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .education-right-sidebar__education {
    margin-top: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  .courses-right-sidebar__courses {
    margin-top: calc(10px + 10 * ((100vw - 320px) / 820));
  }

  body {
    padding: calc(5px + 5 * ((100vw - 320px) / 820));
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 640px) {
  .left-sidebar {
    text-align: center;
  }

  .left-sidebar li {
    list-style: none !important;
  }

  .right-sidebar__name {
    text-align: center;
  }

  .right-sidebar__position {
    text-align: center;
  }

  .my-info-right-sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .my-info-right-sidebar__age {
    margin-left: 0;
  }

  html {
    font-size: 18px;
  }

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 590px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .right-sidebar-subtitle {
    margin: 5px 0;
  }

  .work-experience-right-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .education-right-sidebar__education {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .courses-right-sidebar__courses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .work-experience-right-sidebar__period,
  .education-right-sidebar__period,
  .courses-right-sidebar__period {
    margin-top: 8px;
  }

  html {
    font-size: 15px;
  }
}

@media print {
  .left-sidebar {
    color: black !important;
  }

  .contacts-left-sidebar__item a {
    font-size: 12px;
    color: black !important;
  }

  html {
    font-size: 12px;
    color: black !important;
  }
}

.webp body {
  background-image: url(../img/bg.webp);
}
